@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    
}

nav{
    display: flex;
    background-color: whitesmoke;
    width: 100%;
    letter-spacing:4px;
    text-decoration: none;
    z-index: 1;
    padding: 10px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
}

nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    padding: 10px 13px;
    background-color: #205c74;
    color: white;
    
}
header{
    text-align: right;
    max-width: 1600px;
    min-height: 500px;
}

.logo{
    flex: 30%;
    font-family: 'Lobster', cursive;
    color: white;
}

.menu{
    text-align: right;
    flex: 70%;
    color: white;
}
    
.fundo{
    position: absolute;
    bottom: 370px;
    right: 310px;
    font-size: 10px;
}

.bloco1{
    display: flex;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 50%;
}

.bloco1 img{
    flex: 20%;
}

.sobre{
    flex: 80%;
    padding: 20px;
    font-size: 12px;
}

.sobre h1, h5{
    text-align: center
}

.bloco2{
    display: flex;
    margin-top: 30px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 30px;
    padding-right: 19%;
}

.bloco2 h1{
    text-align: center;
}

.bloco2 p{
    font-size: 12px;
}

hr{
    margin-left: 25%;
    margin-right: 25%;
}
.bloco3{
    margin-top: 30px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 30px;
}

.bloco3 p{
    font-size: 11px;
}

.bloco3 b{
    color: #205c74;
}

input{
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 3px solid whitesmoke;
}

footer{
    padding: 25px;
    background-color: whitesmoke;
    text-align: center;
}

footer a{
    color: black;
}

footer a:hover{
    color: plum;
}
